#parent {
    margin: 30px;
}
#form_login {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
body{
    margin-bottom: 80px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: -100px;
}